<a href="https://colab.research.google.com/github/mia-rashel/Al_Lab/blob/master/Notebook_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###IF statement

In [ ]:
grade = 85
if grade > 60:
  print('passed')

passed

###If else statement

In [ ]:
grade = 85
if grade > 60:
  print("passed")
else :
  print("fail")

passed

Conditional expression

In [ ]:
result =  ('passed' if grade >= 60 else 'failed')
print(result)

passed

###IF...elif....else statement

Flowchart of if...elif...else

In [ ]:
grade = 77 
if grade >=90:
  print("A")
elif grade >=80: 
  print("B")
elif grade >=70:
  print("C")  
elif grade >=60:
  print("B")  
else:
  print("Failed")

C

###While Statement

In [ ]:
number = 1
while (number<10):
  print(number , end =" " )
  number+=1

1 2 3 4 5 6 7 8 9

while statement to find the first power of 3 larger than 50:

In [ ]:
product = 3 

while product <=50:
  product = product*3
print(product)

81

###For statement

In [ ]:
for character in "programming":
  print (character , end =" ")

p r o g r a m m i n g

Built in Range Function

In [ ]:
for counter in range(10):
  print(counter , end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
total = 0
for number in range(500):
  total = total+number
print(total)

124750

In [ ]:
for number in range(5,10):
  print(number , end = " ")

5 6 7 8 9

In [ ]:
for number in range(2,20,4):
  print(number , end = " ")

2 6 10 14 18

In [ ]:
for number in range(10,0,-2):
  print(number ,end = " ")

10 8 6 4 2

Number table print using range function

In [ ]:
number = int(input())

10

In [ ]:
for i in range(1,11):
  print(number ,"X", i ,"=",number*i)

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Nested For Loop

In [ ]:
for left in range(7):
  for right in range(left , 7):
    print("["+str(left)+"|"+str(right)+"]", end ="")
  print()

[0|0][0|1][0|2][0|3][0|4][0|5][0|6]
[1|1][1|2][1|3][1|4][1|5][1|6]
[2|2][2|3][2|4][2|5][2|6]
[3|3][3|4][3|5][3|6]
[4|4][4|5][4|6]
[5|5][5|6]
[6|6]

Break statement

In [ ]:
for number in range (10):
  if number ==5:
    break
  print(number , end =" ")

0 1 2 3 4

Continue statement

In [ ]:
for number in range (10):
 if number ==5:
  continue
 print(number , end = " ")

0 1 2 3 4 6 7 8 9